/* By WebByte Agency with ONANA vital 👽👨‍💻❤️👌 */

:root
{
    --font: Montserrat;
    --color: #fffefe;
    --hover: #f7f1f1;
    --white: #fff;
    --bg: #080812f2;
    --radius: 50px;
    --t: all 0.4s ease-in 0s;
    --p: 17px;
}